<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			vue js
		</title>
		<!-- ENLAZAR VUE JS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://unpkg.com/vue@3"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src = " https://unpkg.com/sweetalert/dist/sweetalert.min.js "> </script> 
	</head>
	<body>

		<!-- CREAR UN CONTENEDOR -->
		<div id="contenedor"  >
				
			<form style="width: 230px;  margin:0px auto;  " >
				<div class="mb-3">
				  <label for="exampleInputEmail1" class="form-label">Username</label>
				  <input type="email" v-model="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
				</div>
				<div class="mb-3">
				  <label for="exampleInputPassword1" class="form-label">Password</label>
				  <input type="password" v-model="password" class="form-control" id="exampleInputPassword1">
				</div>
				<button type="submit" @click="login" class="btn btn-primary">ACCEDER</button>
			</form>

		</div> 

		<script type="text/javascript">
			// vincular vue con mi contenedor
			const { createApp } = Vue;  

			const app = createApp({
				data(){
					return {
						users:null,
						username:'',
						password:''

					}
				},
				methods: {
					login(e){
						e.preventDefault();
						
						var data = new FormData();
						data.append('username', this.username); //MoisesMoreno
						data.append('password', this.password); //srOFERTON240
						data.append('request_token', '');

						var config = {
						method: 'post',
						url: 'https://api.themoviedb.org/3/authentication/token/validate_with_login?api_key=27121b1a66b0cd15f42068dc637ee747',
						headers: { 
							//...data.getHeaders()
						},
						data : data
						};

						axios(config)
						.then(function (response) {
							if (response.data.success) {
								var temp_user = {
									user: this.username
								}

								localStorage.setItem('user',JSON.stringify(temp_user))	

								window.location.href="peliculas.html";
							} 
							console.log(JSON.stringify(response.data));
						})
						.catch(function (error) {
							alert("Datos incorrectos")
						});
					} 
				},
				mounted(){
					// fetch('users.json')
					//   .then((res) => res.json())
					//   .then((json) => ( this.users = json ))
					//   .catch((err) => ( console.log(err) ))
				}
			}).mount('#contenedor')
		</script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</body>
</html>