Options +FollowSymLinks -MultiViews
RewriteEngine on

#Rutas
RewriteRule ^auth$ app/AuthController.php
RewriteRule ^productos$ app/ProductsController.php
RewriteRule ^prod/([a-zA-Z0-9-]*)$ products/detalles.php?slug=$1
RewriteRule ^login$ index.php

